//背景图片
body{   
        background:url(/images/background.jpg);
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-position:50% 50%;
}
// 修复主页圆角不完全显示bug
.sidebar {
box-shadow: none
background: none
}
// 修改菜单栏透明度
.header-inner {
  background: rgba(255,255,255,0.2);
  //opacity: 0.8;
}
// 修改文章透明度
.content-wrap {
  opacity: 0.9;
}
//顶栏图片
.header {
          background:url(/images/background2.jpg) none repeat scroll !important;
}

// 主页文章添加阴影效果
 .post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, 0.5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, 0.5);
  }
//底栏背景色
.footer {
          background:rgba(255,255,255,1) none repeat scroll !important;
}

侧栏图片及内部文字颜色修改
.sidebar {
           background:url(/images/background5.jpg);
           background-size: cover;
           background-position:center;
           background-repeat:no-repeat;
            p,span,a {color: 255;}
}